.form-control{
    width: 130px;
}
.btn-primary{
    background-color: #8A33FD;
    border-color: #8A33FD;
    width: 140px;
    
}
.btn-primary:hover{
    background-color: #7a2ce0;
    border-color: #7a2ce0;
}
.btn-outline-success{
    color: #8A33FD;
    border-color: #000000;
        width: 140px;

}
.btn-outline-success:hover{
    background-color: #8A33FD;
    color: white;
    border-color: #8A33FD;
}

.form-control{
    background-color: #F6F6F6;
}

.heightofcontent{
    height: 658px;
}
.text-primary-color{
    color: var(--main-color);
}
:root {
  --main-color: #8A33FD;
}
.sizeofarrow{
    font-size: 10px;
    margin-top: 10px;
}
