/* Sign In Page */

h1{

font-family: 'Core Sans C';
font-size: 34px;
font-style: normal;
font-weight: 700;
color: #333333;
line-height: 33px;
letter-spacing: 0.02em;
margin-bottom:30px ;
margin-top: 30px;


}
.text-secondary{
    color:#3C4242;
}


