:root {
    --primary-color: #8A33FD;
}
body{
 margin-top: 70px;
}

.bg-3C4242 {
    background-color: #3C4242;
}

.bg-f6f6f6 {
    background-color: #F6F6F6;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-purple {
    background-color: var(--primary-color);
}
.bg-purple:hover {
    background-color: #7225d3 ;
}

.social-icon {
    background-color: white;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 8px;
    display: inline-block;
    transition: transform 0.2s;
}

.order-items h6 {
    overflow-wrap: anywhere;
    word-wrap: break-word;
    word-break: break-word;
}

.order-items div.flex-grow-1 {
    min-width: 0;
}

.social-icon:hover {
    transform: translateY(-3px);
}

footer .text-light.fs-4 {
    font-size: 1.5rem;
}

footer .nav-link:hover {
    color: var(--primary-color) !important;
}