:root {
    --primary-color: #8A33FD;
}

body {
    padding-top: 70px;
}

.bg-3C4242 {
    background-color: #3C4242;
}

.bg-f6f6f6 {
    background-color: #F6F6F6;
}

html,
body {
    max-width: 100%;
}

.social-icon {
    background-color: white;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 8px;
    display: inline-block;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: translateY(-3px);
}

footer .text-light.fs-4 {
    font-size: 1.5rem !important;
}

footer .nav-link:hover {
    color: var(--primary-color) !important;
}