.form-label {
    font-size: 14px;
    color: #3c4242;
    margin-bottom: 10px;
}

.form-control,
.form-select {
    border-radius: 8px;
    font-size: 14px;
    color: #807d7e;
    background-color: #F6F6F6 ;
    border: none ;
}

.form-control::placeholder {
    color: #807d7e;
    opacity: 0.7;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    background-color: #f0f0f0 ;
}

.extra-small {
    font-size: 12px;
}

.card {
    border-radius: 12px;
}

.order-items img {
    object-fit: cover;
    border: 1px solid #f6f6f6;
}

.order-items h6 {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.form-check-input:checked {
    background-color: #8A33FD;
    border-color: #8A33FD;
}
main {
    background-color: #fff;
}

.breadcrumb-item a {
    color: #807D7E;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb-item.active {
    color: #3c4242;
    font-weight: 500;
}
.payment-method-container {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-nav .nav-link.active {
    color: #3c4242 ;
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    color: #8A33FD ;
}