:root {
  --primary-color: #8A33FD;
}

.products span {
  color: #8A8989;
  font-size: 16px;
}

.products p {
  color: #807D7E;
  font-size: 22px;
}

.products i {
  color: #AEADAE;
}

.products i:hover {
  cursor: pointer;
}

.products img:hover {
  cursor: pointer;
}

.price-input-container {
  width: 100%;
  padding: 20px 15px;
}

.products .values {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.products .values span {
  border: 1px solid #ddd;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.products .values span {
  width: 30%;
  text-align: center;
}

.color-swatch-item {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-swatch-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color-name {
  font-size: 13px;
  color: #8A8989;
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.size-box-item {
  border: 1px solid #BEBCBD;
  border-radius: 8px;
  padding: 8px 0;
  text-align: center;
  color: #3C4242;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
}

.size-box-item:hover {
  border-color: #3C4242;
}

.product-list h2 {
  font-size: 16px;
  font-family: "Causten", sans-serif;
  font-weight: 600;
  color: #3F4646;
}

.product-list p {
  font-size: 16px;
  font-weight: 600;
  color: #3F4646
}

.product-list span {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}

.product-list .cardspan {
  background-color: #F6F6F6;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  color: #3C4242;
}

.product-list .card-text {
  font-size: 12px;
  color: #797979;
}

.product-list .card .wishlist-icon {
  display: none !important;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-list .card:hover .wishlist-icon {
  display: block !important;
}

.product-list .card .wishlist-icon:hover {
  transform: scale(1.1);
}

.border-color {
  border-color: var(--primary-color) !important;

}

.clothing p {
  color: #807D7E;
}

.clothing h5 {
  color: #807D7E;
}

.clothing a {
  color: #807D7E;
}

.price-table-container {
  background-color: #F6F6F6;
  border-radius: 12px;
}

.price-table-left-col {
  border-right: 1px solid #5a5a5a;
}

.price-table-container table thead th {
  border-bottom: 1px solid #5a5a5a;
  color: #3C4242;
  font-size: 18px;
  font-weight: 600;
}

.price-table-container table tbody td {
  color: #807D7E;
  font-size: 16px;
}